

body {
  background: #343765;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
line-height: 1.3 ;
}

.inline {
    display: inline-block
}


.color-light-purple {
    background-color: #494e91
}



.sub-title {
    margin-top: 4vw;
    font-size: 3vw;
    text-align: center
}



.cards {text-align: center;
	margin: 3vw 2vw;
    padding-top: 2vw;
	padding-bottom: 2vw;
    padding-left: 2vw;
	padding-right: 2vw;
    
		}

.video {
    max-width: 800px;
    max-height: 450px;
    margin: auto;
    
    
    
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
    display: block;
   
    
}
 
.iframe-container iframe {
   border:  0 ;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
    text-align: center;
}
 




.color-dark-purple,.color-dark-purple:hover{
    color:#fff!important;background-color:#181a36!important}

.btn {
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4;
}
.btn:hover {
  color: #686dbc;
  border-color: #686dbc;
    font-size: 25px;
    cursor: pointer;
}

.center {
    text-align: center
}

/*Disable stutter animation of desktop screen*/
@media (min-width:993px){
    
    

    .w3-animate-left {
        position: relative;
        animation: animateleft 0.4s
    }

    @keyframes animateleft {
        from {
            left: 0x;
            opacity: 1
        }

        to {
            left: 0;
            opacity: 1
        }
    }
}